*{
    margin: 0;
    padding: 0;
}

.carro{
    display: flex;
    justify-content: flex-end;
    padding: 2em 3em 0 0;
    cursor: pointer;
  
}


.tamCarro{
    width: 400px;
    height: 400px;
}
.titulo
{
    display: flex;
    padding: 0 0 1em 9em;
    margin-top: 50px;
    /* margin-bottom: 10px; */
}
.lista_produto{
  font-weight: bold;
  color: #000;
}
.Bainner {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.container{
    display: flex;
    width: 80%;
}
.Tenis 
{
 width: 100px;
 height: 100px;   
 border-radius: 70%;
}

.imagemProduto{
    display: flex;
    padding: 2em;
}

.texto{
    padding: 15px 0 0 30px;
   color: #000;
}
.texto .prod{
     margin-bottom: 20px; 
     ;
}

.carrinho{
    display: flex;
    margin-left: 600px;
    width: 180px;
    
}